<%- include('../layout/top', {page: 'login'}); %>
<div class="container">
    <h1 class="display-3">Inscription</h1>
    <div class="col-md-4">
      <h2>Confirmation</h2>
      <p>Tu es bien inscrit(e), on t'aime et tout ça</p>
    </div>
        <div class="col-sm-12">
            <p> Tu vas recevoir un mail pcq oui tu vas payer aussi, on est pas là pour déconner non plus
        </div>
</div>
<%- include('../layout/bottom'); %>
