<%- include('../layout/top', {page: 'inscription_confirmation'}); %>
<div class="container">
    <h1 class="display-3">Inscription</h1>
    <div class="col-md-8">
      <h2>Confirmation</h2>
      <p>Tu es bien inscrit(e), bienvenue dans la communauté OpenFab !</p>
    </div>
        <div class="col-sm-12">
            <p>Tu vas recevoir un mail de confirmation avec les coordonnés bancaire pour valider ton inscription.
        </div>
</div>
<%- include('../layout/bottom'); %>
