<%- include('../layout/top', {page: 'inscription_debut'}); %>
<div class="container">
    <h1 class="display-3">Inscription</h1>
    <div class="col-sm-12">
      <p>Salut et déjà, bienvenue à l'Openfab !</p>
      <p>Si tu es ici, c'est que tu veux t'inscrire chez nous, super ! Au fur et à mesure du processus, nous aurons besoin d'une série d'information :</p>
      <ul>
          <li>Ton prénom, ton nom, ton adresse email</li>
          <li>Tes données de facturation (+ numéro de TVA si l'inscription est pour une entreprise)</li>
          <!-- <li>Ton numéro de compte au format IBAN pour mettre en route la domiciliation (nous ne le concervons pas, il est directement utilisé par notre fournisseur de paiement : <a href="https://help.one.com/hc/fr/articles/115005585049-Questions-fr%C3%A9quemment-pos%C3%A9es-%C3%A0-propos-de-Stripe" target="_blank">Stripe</a>. Pas de danger de sécurité)</li> -->
      </ul>
      <p>Si tu as toutes ces information qui sont prêtes, passons à l'étape suivante !</p>
      <p>En t'inscrivant à notre assiocitation, tu nous donne le droit de conserver tes données et de les utiliser pour te contacter. Nous ne les transmetterons JAMAIS à des tiers, nous non plus on aime pas les spams.
    </div>
    <a class="btn btn-secondary" href="/inscription/etape1" target="_self" role="button">Passer à l'étape suivante</a>
</div>
<%- include('../layout/bottom'); %>
