<%- include('../layout/top', {page: 'inscription_etape3'}); %>
<div class="container">
    <h1 class="display-3">Inscription</h1>
    <div class="col-md-4">
      <h2>Etape 4/4</h2>
    </div>
    <% if (errorMessage) { %>
        <div class="alert alert-danger" role="alert">
          <%= errorMessage %>
        </div>
    <% } %>
    <form action="/inscription/etape3?id=<%= id %>" method="post">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <p>Je déclare dégager l'ASBL Syntonie de toute responsabilité en cas d'accident, de vol de quelque nature que ce soit ou de dommages sans aucune exception ni réserve, causés par moi-même ou par autrui, personnes et généralement tout objet et biens quelconques rencontrés dans l'enceinte des locaux de l'OpenFab.</p>

                    <p>Je reconnais avoir pris connaissance du règlement intérieur relatif à l'ASBL Syntonie et aux consignes de sécurité d'usage durant une activité organisée dans l'enceinte des locaux de l'OpenFab.</p>

                    <p>Je m'engage à en respecter toute prescription ainsi que toutes les règles de sécurité y afférant.</p>

                    <p>En cas de dégradations provoquées aux infrastructures et équipements de l'OpenFab, j'en assumerai les frais financiers correspondants.</p>

                    <p>Je suis informé(e) qu'il m'appartient de souscrire personnellement une assurance responsabilité civile contre tous les sinistres, accidents, vols, de quelque nature que ce soit, causées par moi-même ou à des tiers dans les locaux de l'association et que mon contrat d’assurance ne mentionne aucune clause contraire à ce que précédemment déclaré.</p>

                    <p>Je reconnais à l'association le droit de m'exclure de l’enceinte de ses locaux et de la participation à ses activités en cas de non production de cette assurance</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="insurance" id="insurance" required>
                    <label for="insurance" name="insurance">Oui, j'ai lu et j'approuve les conditions du précédent document</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-secondary">Oui, je le veux</button>
    </form>
  </div>
<br>
<br>
<%- include('../layout/bottom'); %>
