<%- include('../layout/top', {page: 'login'}); %>
<div class="container">
    <h1 class="display-3">Inscription</h1>
    <div class="col-md-4">
      <h2>Etape 4</h2>
      <p>REGLEMENT</p>
    </div>
    <% if (errorMessage) { %>
        <div class="alert alert-danger" role="alert">
          <%= errorMessage %>
        </div>
    <% } %>
    <form action="/inscription/etape4?id=<%= id %>" method="post">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <p>Voici un lien vers le réglement ou du blabla</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Oui, j'ai lu le réglement, j'y adhère au plus profond de moi et j'ai tatoué le logo d'openfab sur ma fesse</label>
                    <input type="checkbox" class="form-control" name="house_rules" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-secondary">Finaliser l'inscription</button>
        </div>
    </form>
</div>
<%- include('../layout/bottom'); %>
