<%- include('../layout/top', {page: 'login'}); %>
<div class="container">
    <h1 class="display-3">Inscription</h1>
    <div class="col-md-4">
      <h2>Etape 3</h2>
      <p>ASSURANCE</p>
    </div>
    <% if (errorMessage) { %>
        <div class="alert alert-danger" role="alert">
          <%= errorMessage %>
        </div>
    <% } %>
    <form action="/inscription/etape3?id=<%= id %>" method="post">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <p>Voici un lien vers la police d'assurance ou du blabla</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Oui, j'ai lu l'assurance et j'accepte les conditions</label>
                    <input type="checkbox" class="form-control" name="insurance" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-secondary">Aller vers l'étape 4</button>
        </div>
    </form>
</div>
<%- include('../layout/bottom'); %>
