<footer class="mt-0 pt-0">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <p><br>OpenFab adhère à la charte des FabLabs et est reconnu par la Benelux Fab Foundation</p>
      </div>
      <div class="col-5 text-center">
        <p class="txt-railway">- Suis nous -</p>
        <a href="https://www.facebook.com/OpenFab"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://github.com/openfab-lab"><i id="social-git" class="fa fa-github-square fa-3x social"></i></a>
        <br /><a href="https://www.pinterest.com/openfab/"><i id="social-pin" class="fa fa-pinterest-square fa-3x social"></i></a>
        <a href="https://www.google.com/maps/place/OpenFab/@50.8258324,4.3819548,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3c4c09d468df1:0xab070075b72e8d93!8m2!3d50.8258324!4d4.3841435"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="https://www.youtube.com/channel/UCORN2IFxGa4o81jvYYDdVSg"><i id="social-yt" class="fa fa-youtube-square fa-3x social"></i></a>
        <a href="mailto:contact@openfab.be"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
      <div class="col text-right">
        <p><br>This work is licensed under a Creative Commons Attribution NonCommercial ShareAlike 4.0 International License.<br>
          Design by ZuperNinja and Satblip with BootStrap and french fries.</p>
      </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<% if (typeof additionalLinks !== 'undefined' && additionalLinks instanceof Array) {
  for (link of additionalLinks) { %>
<link href="<%= link %>" rel="stylesheet">
<% }} %>

<% if (typeof additionalScripts !== 'undefined' && additionalScripts instanceof Array) {
  for (script of additionalScripts) { %>
<script src="<%= script %>"></script>
<% }} %>

<script>
  <%# Activate bootstrap functions %>
  $(document).ready(function() {
    $('[data-toggle=tooltip]').tooltip();
  });
</script>
</body>

</html>
