<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>OpenFab Membres</title>

    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <style type="text/css">
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
          position: relative;
          min-height: 100%;
        }
        body {
          margin-bottom: 185px; /* Margin bottom by footer height */
        }

        footer {
          bottom: 0;
          width: 100%;
          position: absolute;
          height: 185px; /* Set the fixed height of the footer here */
          background-color: #f5f5f5;
        }

        .dropdown-item:active {
          background-color: #f5f5f5;
        }

        .card-bottom {
          margin-bottom: 15px;
        }

        .profile-page .profile {
          text-align: center;
        }

        .profile-page .profile img {
          max-width: 160px;
          width: 100%;
          margin: 0 auto;
          -webkit-transform: translate3d(0,-50%,0);
          -moz-transform: translate3d(0,-50%,0);
          -o-transform: translate3d(0,-50%,0);
          -ms-transform: translate3d(0,-50%,0);
          transform: translate3d(0,-50%,0);
        }

        .profile-page .page-header {
            height: 380px;
            background-position:center;
        }

        .profile-page .description {
            margin: 1.071rem auto 0;
            max-width: 600px;
            color: #999;
            font-weight: 300;
        }

        .profile-page .profile-tabs {
            margin-top: 4.284rem;
        }

        .profile-page .gallery {
            margin-top: 3.213rem;
            padding-bottom: 50px;
        }

        .profile-page .gallery img {
            width: 100%;
            margin-bottom: 2.142rem;
        }

        .profile-page .profile .name{
            margin-top: -80px;
        }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="/" target="_self">OpenFab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <% if(page === 'membres') {%>active<% } %>">
                    <a class="nav-link" href="/membres" target="_self">Membres</a>
                </li>
                <li class="nav-item <% if(page === 'contact') {%>active<% } %>">
                    <a class="nav-link" href="/contact" target="_self">Contactez-nous</a>
                </li>
            </ul>
            <% if (user) { %>
            <% if (user.permissionsLevel === 3) { %>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin&nbsp;</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/users">Gestion utilisateurs</a>
                    </div>
                </li>
            </ul>
            <% } %>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://www.gravatar.com/avatar/<%= user.hashedEmail %>" height="21" width="21" class="rounded-circle">&nbsp;&nbsp;<%= user.firstName %>&nbsp;<b class="caret"></b></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/perso/profil">Editer mon profil</a>
                        <a class="dropdown-item" href="/perso/adresse">Editer mon adresse</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout" target="_self">D&eacute;connexion</a>
                    </div>
                </li>
            </ul>
            <% } else { %>
            <a href="/connexion" target="_self"><button class="btn btn-outline-light" type="button">Connexion / Inscription</button></a>
            <% } %>
        </div>
    </nav>
