<%- include('./layout/top', {page: 'contact'}); %>
<div class="container">
    <h1 class="display-3">Contact</h1>
    <div class="col-md-8">
      <p>Utilisez le formulaire suivant pour nous contacter et nous parler de votre projet, on l'aime déjà !</p>
    </div>
    <div class="col-sm-12">
        <form action="/contact" method="post" class="form">
            <div class="row">
                <div class="col-xs-6 col-md-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                </div>
            </div>
                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="10" required></textarea>
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-12 form-group">
                    <button class="btn btn-secondary pull-right" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('./layout/bottom'); %>
