<%- include('layout/top', {page: 'index'}); %>
<div class="jumbotron text-center" id="propos">
  <div class="container mx-auto my-5 py-5">
        <h1 class="display-2 mt-3">Bricoler, ça fait du bien. <br> C'est le yoga des makers.</h1>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm">
      <p class="mx-auto mt-5"><img src="https://user-images.githubusercontent.com/12049360/88023042-a11b2180-cb30-11ea-889b-bc66c9c93d23.png" alt="" height="400"></p>
    </div>
    <div class="col-sm text-center">
      <p class="mx-auto mt-5"><img src="https://user-images.githubusercontent.com/12049360/83530336-e1c0cc00-a4eb-11ea-8f91-672eb23e3bcc.png" alt="" height="400"></p>
    </div>
    
    <div class="mx-auto text-center">
      <p class="lead"><br>Parce qu'on manque de place, parce qu'on n'a pas le bon outil, ou qu'on ne sait pas comment l'utiliser ou encore, simplement par manque de motivation, une idée reste malheureusement souvent une idée. <br>
      Heureusement, ce n’est pas une fatalité, toutes ces excuses pourraient être évitées.</p>
    </div>
  </div>
</div>

<div class="container">
<!-- FAQ -->
  <div class="mx-auto text-center">
    <h1 class="display-4 mt-5 pt-5" id="faq">Openfab? Un club de geek.</h1>
    <p class="lead">Openfab est un projet de l’asbl Syntonie. L'association explore la relation entre l’humain et son environnement.<br> 
      Openfab est LE fablab bruxellois qui explore spécifiquement le lien entre l'humain et la technologie.<br>
      Openfab est une communauté qui a pour but de mettre en place des mécanismes nous aidants à nous libérer de ces freins préliminaires, à trouver du sens, de la motivation, de l'exitation dans nos idées de réalisation, à recréer du lien localement. <br>
      Comment? En favorisant les échanges par la mixité des savoir-faire, par la mutualisation d'un lieu et des machines, et par l'exemple et la pratique.</p>
  </div>
<br>
  <div class="accordion" id="accordionExample">
    
    
    <!-- FAQ1 -->
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Quel profil ont les membres d'OpenFab?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          L’atelier existe depuis 2012 et est fédéré par sa communauté de membres actifs.<br> 
          Nous partageons tous le plaisir de bricoler, pour une diversité de raisons personnelles.<br> 
          Nous sommes autodidactes, curieux et passionnées, professionnelles ou hobbyists, débutants ou expérimentées.<br> 
          Nous nous réunissons pour pouvoir faire plus de ce qu'on aime, parce que ça fait du bien.
        </div>
      </div>
    </div>

    <!-- FAQ2 -->
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            À qui s'adresse Openfab?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Si tu pense que la fabrication numérique pourrait t'aider dans tes pratiques de loisir ou professionnelles, que tu a le plaisir de tester et d'explorer<br>
          Tes besoins sont l'accès au lieu et aux machines, tu préfères apprendre par toi même et tu veux passer du temps à t'excercer. <br>
          Tu aimerais faire ça au sein d'une communauté qui peut te guider et partager du lol de makers. <br>
          Viens nous parler de ce que tu veux fabriquer.
        </div>
      </div>
    </div>
    
    
    <!-- FAQ3 -->
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Je sais pas trop si c'est ce qu'il me faut. Par quoi commencer?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Venir nous rencontrer, parler de ton projet, venir à un évènement, voire commencer par nous aider comme bénévoles sur l'une ou l'autres activités. <br>
          Contacte-nous. 
        </div>
      </div>
    </div>

    <!-- FAQ4 -->
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Quand êtes-vous ouvert ?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          OpenFab est ouvert sur <strong>rendez-vous</strong> ou lors des permanences tenues par nos membres. <br>
          Vous pouvez passer à l'improviste, mais attention qu'il n'y aura parfois personne pour vous accueillir.
        </div>
      </div>
    </div>
    
    <!-- FAQ5 -->    
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Je cherche à faire produire une pièce. Combien ça coûte?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          L’asbl ne propose plus ses services pour de la production, mais peut transférer vos demandes aux membres.<br>
          Je vous invite à utiliser le formulaire de contact pour présenter le plus clairement votre demande, avec un peu de contexte, les détails de la demande et une fourchette de budget qui vous parait raisonnable, ou pourquoi pas une proposition d'échange de services.<br>
          <strong>Attention! l'asbl ne garantit pas de réponse à vos demandes,</strong> la ou les personnes intéressées parmi les membres par votre projet se mettront personnellement en contact avec vous pour la suite.
        </div>
      </div>
    </div>
    
    <!-- FAQ6 -->
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> 
          Organisez vous des formations d'introduction aux machines?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          Nous ne donnons pas de formation en tant que telle, nous favorisons l'échange entre pair par la pratique autodidacte.<br>
          La communauté présente peut guider, donner des conseils mais il ne faut pas oublier qu'on a tous nos propres projets.<br>
          Si vous êtes en recherche d'une formation plus traditionnelle sous forme de "classe" structurée, je vous conseille de passer par nos collègues "FLTM" pour les ateliers low-tech/bois et le réseaux des fablabs bruxellois pour les formations numériques.
        </div>
      </div>
    </div>
    
    <!-- FAQ7 -->
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Je peux venir faire un stage ?
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          Oui, celà nous arrive d'accompagner des stagiaires dans le cadre de leurs études mais comme pour les services, celà dépend de la disponibilité des membres. Parlez nous de vos motivations via le formulaire de contact, on en discutera avec plaisir.<br>
          Pour les demandes internationnales, malheureusement nous ne pouvons pas accueillir de stagiaire rémunéré. Mais on fera notre possible pour faciliter tes démarches en cas de besoin. <br>
          Nous avons souvent besoin d'aide sur l'exploration du modèle économique et de gestion, sur l'organisation d'évenements ou encore sur la communication des activités.<br> 
          Tu choisis sur quoi tu veux travailler et c'est parti.
        </div>
      </div>
    </div>
    
    <!-- FAQ8 -->
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            L'asbl est indépendante, qu'est-ce que ça veut dire? 
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
          Pour garder son focus sur la communauté, il est important que l'asbl soit indépendante.<br>
          C'est à dire que nous sommes une initiative d'origine citoyenne, gérée par et pour les membres. <br>
          Ce qui implique la recherche d'une gouvernance et d'un modèle économique adaptés et focalisés sur l'humain.<br>
          Nous voulons garder notre liberté d'explorer sans le poids d'obligations politique ou économique.
        </div>
      </div>
    </div>

    <!-- FAQ9 -->
    <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            Comment sont financées vos activitées? 
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
        <div class="card-body">
          Financièrement, le lieu est mis à disposition par la commune d'Ixelles, la gestion est participative, les machines sont mutualisées et entretenues par la communauté.<br>
          Ce qui réduit les charges communes à un miminum de ~800€/mois.<br>
          Ces frais doivent être couvert par le soutien financier des membres au travers des cotisations, de leurs activités et d'un tarif raisonnable sur l’usage des machines numériques.
        </div>
      </div>
    </div>

    <!-- FAQ10 -->
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Je peux vous poser des questions sur votre modèle économique ou financier ou social ?
          </button>
        </h5>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
        <div class="card-body">
          Bien sûr. 
        </div>
      </div>
    </div>
  </div>




  <!-- Tarifs -->
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="tarifs">
    <h1 class="display-4 mt-5 pt-5">Tarifs</h1>
    <p class="lead">
      <strong>Cotisation (def.)</strong> = Somme versée en vue de contribuer à une dépense commune. C'est un soutien à l'asbl qui donne accès aux bénéfices de cette mise en commun.</p>
  </div>

  <div class="card-deck text-center">
    <div class="card mb-2 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Devenir membre, c'est soutenir notre action commune.</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">Trois formules de cotisations</h2>
        <p>Inscription minimum annuelle à l’ASBL obligatoire pour accéder à nos activités.</p>
        <ul class="list-unstyled mt-3 mb-4">
          <li><b>25€/an</b>* pour un soutien sans avoir besoin d'accéder au fablab</li>
          <li><b>20€/mois</b>* pour un soutien avec un usage occasionnel du fablab</li>
          <li><span style="background-color: #212529"><i>Mise à niveau uniquement, nombre de places limitées</i></span> pour un soutien avec usage fréquent du lab</li>
        </ul>
        <p>*montant tvac, les cotisations sont soumises à conditions précisées dans le réglement d'ordre intérieur.<br>&nbsp;</p>
        <a class="btn btn-lg btn-block btn-secondary" href="/inscription/debut" target="_self" role="button">S'inscrire</a>
      </div>
    </div>
    <!-- <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Services</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">55€ <small class="text-muted">/ heure</small></h1>
        <p>Nos membres réalisent pour vous. Devis sur demande. Délai min. 48h.</p>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Conception design</li>
          <li>Préparation de fichier</li>
          <li>Tutorat</li>
          <li>Impression 3D</li>
          <li>Découpe laser</li>
          <li>Usinage CNC</li>
        </ul>
        <a class="btn btn-lg btn-block btn-outline-secondary" href="/contact" target="_self" role="button">Nous contacter</a>
      </div>
    </div> -->
  </div>

  <!-- Contact -->
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="contact">
    <h1 class="display-4 mt-5 pt-5">Le lieu</h1>
    <p class="lead">L'atelier d'OpenFab se situe au 158 rue Gray à Ixelles. <br>
      Il est équipé d'une découpeuse laser, d'imprimantes 3D, d'une machine à coudre pour le cuir, d'une découpeuse vinyle, d'outillage divers pour le travail de finition du bois et de l'électronique. Une cuisine est aussi à disposition ainsi que des toilettes PMR.</p>
  </div>

  <!-- Map -->
  <div class="row">
    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.905226378007!2d4.376370815909567!3d50.83291936761275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4965c03a80b%3A0xc615e8d39bd5979e!2sRue%20Gray%20158%2C%201050%20Ixelles!5e0!3m2!1sfr!2sbe!4v1574198623697!5m2!1sfr!2sbe" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

  <!-- Logo commune -->
  <div class="container mx-auto my-5 text-center ">
    <div class="row">
      <div class="col">
        <img src="https://user-images.githubusercontent.com/12049360/83546981-d4164100-a501-11ea-9865-4abe42510308.png" alt="" width="90%"  >
      </div>
    </div>
</div><br>
<%- include('layout/bottom'); %>
