<%- include('layout/top', {page: 'index'}); %>
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">BLABLABLA</p>
        <p><a class="btn btn-secondary btn-lg" href="#" role="button">En savoir plus &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>BLABLA</h2>
          <p>BLABLABLA</p>
          <p><a class="btn btn-secondary" href="#" role="button">Voir les détails &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>BLABLA</h2>
          <p>BLABLABLA</p>
          <p><a class="btn btn-secondary" href="#" role="button">Voir les détails &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>BLABLA</h2>
          <p>BLABLABLA</p>
          <p><a class="btn btn-secondary" href="#" role="button">Voir les détails &raquo;</a></p>
        </div>
      </div>

      <hr>


    </div> <!-- /container -->
<%- include('layout/bottom'); %>
