.jumbotron {
  background: url('/images/ban-hero.jpg') no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: cover;
  height: 100%;
  color:white;
  text-shadow: 1px 1px 2px black;
}
